:root {
    --padding-width: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

.dialog {
    width: 300px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: var(--padding-width);
}

.actions {
    display: flex;
    justify-content: space-evenly;
}

button {
    width: 70px;
    padding: 4px 20px;
}

.header {
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 var(--padding-width) 0;
    text-align: center;
}

